# Get humidity data from 2002-2022

In [9]:
import numpy as np
import pandas as pd

In [10]:
# Đọc dữ liệu từ file Excel
file_path = 'V01.12.xlsx'  # Thay thế bằng đường dẫn thực tế đến file Excel của bạn
df = pd.read_excel(file_path)

In [11]:
df.head()

   Unnamed: 0     Unnamed: 1   1   2   3   4   5   6   7   8   9  10  11  12
0      2022.0       Lai Châu  85  86  83  78  86  90  82  83  86  81  83  86
1         NaN         Sơn La  82  83  81  76  82  87  80  85  84  76  78  76
2         NaN    Tuyên Quang  84  82  84  77  79  76  80  82  83  78  81  74
3         NaN  Hà Nội (Láng)  80  76  82  75  78  71  76  77  75  67  74  60
4         NaN       Bãi Cháy  84  85  88  80  83  84  83  86  83  74  81  65

### Replace the values .. to NaN

In [12]:
df.replace("..", np.nan, inplace=True)
df.head(30)

,Unnamed: 0,Unnamed: 1,1,2,3,4,5,6,7,8,9,10,11,12
0,2022.0,Lai Châu,85.0,86.0,83.0,78.0,86.0,90.0,82.0,83.0,86.0,81.0,83.0,86.0
1,NaN,Sơn La,82.0,83.0,81.0,76.0,82.0,87.0,80.0,85.0,84.0,76.0,78.0,76.0
2,NaN,Tuyên Quang,84.0,82.0,84.0,77.0,79.0,76.0,80.0,82.0,83.0,78.0,81.0,74.0
3,NaN,Hà Nội (Láng),80.0,76.0,82.0,75.0,78.0,71.0,76.0,77.0,75.0,67.0,74.0,60.0
4,NaN,Bãi Cháy,84.0,85.0,88.0,80.0,83.0,84.0,83.0,86.0,83.0,74.0,81.0,65.0
5,NaN,Nam Định,87.0,84.0,87.0,82.0,82.0,77.0,82.0,84.0,83.0,78.0,84.0,72.0
6,NaN,Vinh,89.0,87.0,88.0,85.0,79.0,68.0,77.0,80.0,84.0,79.0,84.0,80.0
7,NaN,Huế,91.0,93.0,88.0,88.0,87.0,78.0,83.0,84.0,87.0,91.0,90.0,93.0
8,NaN,Đà Nẵng,85.0,80.0,82.0,82.0,79.0,72.0,76.0,79.0,81.0,81.0,82.0,84.0
9,NaN,Quy Nhơn,83.0,81.0,81.0,80.0,77.0,77.0,75.0,72.0,77.0,78.0,85.0,80.0
10,NaN,Pleiku,78.0,76.0,76.0,76.0,85.0,82.0,88.0,90.0,89.0,84.0,83.0,79.0
11,NaN,Đà Lạt,83.0,85.0,84.0,86.0,88.0,87.0,88.0,90.0,91.0,90.0,84.0,82.0
12,NaN,Nha Trang,78.0,79.0,79.0,80.0,81.0,77.0,79.0,81.0,81.0,81.0,83.0,77.0
13,NaN,Vũng Tàu,76.0,76.0,80.0,78.0,81.0,79.0,83.0,81.0,82.0,83.0,82.0,78.0
14,NaN,Cà Mau,75.0,76.0,79.0,77.0,80.0,79.0,81.0,81.0,83.0,79.0,81.0,73.0
15,NaN,Hà Nội,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Qui Nhơn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2021.0,Lai Châu,80.0,78.0,74.0,80.0,77.0,85.0,87.0,86.0,85.0,87.0,89.0,85.0
18,NaN,Sơn La,76.0,78.0,74.0,75.0,72.0,80.0,84.0,78.0,81.0,79.0,79.0,79.0
19,NaN,Tuyên Quang,76.0,84.0,84.0,84.0,78.0,76.0,79.0,79.0,83.0,85.0,83.0,77.0
20,NaN,Hà Nội (Láng),67.0,77.0,83.0,83.0,78.0,69.0,73.0,74.0,79.0,77.0,72.0,68.0
21,NaN,Bãi Cháy,72.0,82.0,87.0,88.0,85.0,79.0,81.0,86.0,86.0,81.0,73.0,73.0
22,NaN,Nam Định,74.0,83.0,88.0,89.0,84.0,75.0,80.0,81.0,87.0,85.0,77.0,76.0
23,NaN,Vinh,80.0,86.0,89.0,89.0,81.0,71.0,74.0,70.0,86.0,86.0,83.0,81.0
24,NaN,Huế,91.0,88.0,89.0,86.0,79.0,73.0,74.0,71.0,87.0,92.0,93.0,93.0
25,NaN,Đà Nẵng,80.0,79.0,81.0,80.0,76.0,68.0,68.0,68.0,82.0,85.0,83.0,82.0
26,NaN,Quy Nhơn,78.0,74.0,79.0,80.0,80.0,70.0,70.0,74.0,84.0,84.0,87.0,83.0
27,NaN,Pleiku,76.0,72.0,72.0,76.0,78.0,86.0,89.0,89.0,89.0,89.0,82.0,78.0
28,NaN,Đà Lạt,83.0,79.0,79.0,87.0,87.0,87.0,88.0,89.0,90.0,91.0,88.0,86.0
29,NaN,Nha Trang,74.0,74.0,79.0,81.0,79.0,76.0,76.0,76.0,82.0,83.0,86.0,76.0

### Add a header and replace the NaN years with the Year of the previous row

In [13]:
df.columns = ['Year', 'Location'] + [str(i) for i in range(1, 13)]

# Chuyển các cột nhiệt độ từ kiểu object sang kiểu số
df.iloc[:, 2:] = df.iloc[:, 2:].astype(float)

# Thay thế các giá trị NaN trong năm dựa vào giá trị hàng trước đó
df['Year'].fillna(method='ffill', inplace=True)

print(df[:30])

      Year       Location     1     2     3     4     5     6     7     8  \
0   2022.0       Lai Châu  85.0  86.0  83.0  78.0  86.0  90.0  82.0  83.0
1   2022.0         Sơn La  82.0  83.0  81.0  76.0  82.0  87.0  80.0  85.0
2   2022.0    Tuyên Quang  84.0  82.0  84.0  77.0  79.0  76.0  80.0  82.0
3   2022.0  Hà Nội (Láng)  80.0  76.0  82.0  75.0  78.0  71.0  76.0  77.0
4   2022.0       Bãi Cháy  84.0  85.0  88.0  80.0  83.0  84.0  83.0  86.0
5   2022.0       Nam Định  87.0  84.0  87.0  82.0  82.0  77.0  82.0  84.0
6   2022.0           Vinh  89.0  87.0  88.0  85.0  79.0  68.0  77.0  80.0
7   2022.0            Huế  91.0  93.0  88.0  88.0  87.0  78.0  83.0  84.0
8   2022.0        Đà Nẵng  85.0  80.0  82.0  82.0  79.0  72.0  76.0  79.0
9   2022.0       Quy Nhơn  83.0  81.0  81.0  80.0  77.0  77.0  75.0  72.0
10  2022.0         Pleiku  78.0  76.0  76.0  76.0  85.0  82.0  88.0  90.0
11  2022.0         Đà Lạt  83.0  85.0  84.0  86.0  88.0  87.0  88.0  90.0
12  2022.0      Nha Trang  78.0  79.0  79.0  80.0  81.0  77.0  79.0  81.0
13  2022.0       Vũng Tàu  76.0  76.0  80.0  78.0  81.0  79.0  83.0  81.0
14  2022.0         Cà Mau  75.0  76.0  79.0  77.0  80.0  79.0  81.0  81.0
15  2022.0         Hà Nội   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16  2022.0       Qui Nhơn   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17  2021.0       Lai Châu  80.0  78.0  74.0  80.0  77.0  85.0  87.0  86.0
18  2021.0         Sơn La  76.0  78.0  74.0  75.0  72.0  80.0  84.0  78.0
19  2021.0    Tuyên Quang  76.0  84.0  84.0  84.0  78.0  76.0  79.0  79.0
20  2021.0  Hà Nội (Láng)  67.0  77.0  83.0  83.0  78.0  69.0  73.0  74.0
21  2021.0       Bãi Cháy  72.0  82.0  87.0  88.0  85.0  79.0  81.0  86.0
22  2021.0       Nam Định  74.0  83.0  88.0  89.0  84.0  75.0  80.0  81.0
23  2021.0           Vinh  80.0  86.0  89.0  89.0  81.0  71.0  74.0  70.0
24  2021.0            Huế  91.0  88.0  89.0  86.0  79.0  73.0  74.0  71.0
25  2021.0        Đà Nẵng  80.0  79.0  81.0  80.0  76.0  68.0  68.0  68.0
26  2021.0       Quy Nhơn  78.0  74.0  79.0  80.0  80.0  70.0  70.0  74.0
27  2021.0         Pleiku  76.0  72.0  72.0  76.0  78.0  86.0  89.0  89.0
28  2021.0         Đà Lạt  83.0  79.0  79.0  87.0  87.0  87.0  88.0  89.0
29  2021.0      Nha Trang  74.0  74.0  79.0  81.0  79.0  76.0  76.0  76.0

       9    10    11    12
0   86.0  81.0  83.0  86.0
1   84.0  76.0  78.0  76.0
2   83.0  78.0  81.0  74.0
3   75.0  67.0  74.0  60.0
4   83.0  74.0  81.0  65.0
5   83.0  78.0  84.0  72.0
6   84.0  79.0  84.0  80.0
7   87.0  91.0  90.0  93.0
8   81.0  81.0  82.0  84.0
9   77.0  78.0  85.0  80.0
10  89.0  84.0  83.0  79.0
11  91.0  90.0  84.0  82.0
12  81.0  81.0  83.0  77.0
13  82.0  83.0  82.0  78.0
14  83.0  79.0  81.0  73.0
15   NaN   NaN   NaN   NaN
16   NaN   NaN   NaN   NaN
17  85.0  87.0  89.0  85.0
18  81.0  79.0  79.0  79.0
19  83.0  85.0  83.0  77.0
20  79.0  77.0  72.0  68.0
21  86.0  81.0  73.0  73.0
22  87.0  85.0  77.0  76.0
23  86.0  86.0  83.0  81.0
24  87.0  92.0  93.0  93.0
25  82.0  85.0  83.0  82.0
26  84.0  84.0  87.0  83.0
27  89.0  89.0  82.0  78.0
28  90.0  91.0  88.0  86.0
29  82.0  83.0  86.0  76.0

C:\Users\Phat\AppData\Local\Temp\ipykernel_23852\656435090.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Year'].fillna(method='ffill', inplace=True)

### Find the average monthly humidity value of localities in 1 year

In [14]:
avg_temp_by_month_year = df.groupby('Year')[df.columns[2:]].mean()
avg_temp_by_month_year.head(30)

,1,2,3,4,5,6,7,8,9,10,11,12
Year,,,,,,,,,,,,
2002.0,81.133333,81.733333,80.866667,79.600000,80.400000,82.066667,80.666667,83.933333,83.933333,84.066667,84.533333,84.933333
2003.0,80.800000,82.133333,80.000000,79.733333,81.800000,79.400000,80.733333,83.000000,84.200000,82.933333,80.533333,79.066667
2004.0,81.866667,81.400000,81.933333,83.333333,81.200000,80.200000,82.400000,83.266667,83.466667,79.666667,81.933333,80.000000
2005.0,80.800000,82.266667,81.600000,81.200000,78.600000,79.000000,81.466667,83.200000,83.533333,83.400000,83.733333,82.133333
2006.0,80.866667,82.000000,82.266667,79.800000,79.266667,79.933333,80.466667,84.533333,81.600000,83.533333,81.000000,79.133333
2007.0,78.800000,79.333333,82.733333,80.000000,80.800000,79.866667,80.933333,82.933333,83.600000,84.466667,80.466667,82.333333
2008.0,82.200000,79.266667,81.600000,81.733333,81.800000,82.200000,81.066667,83.066667,84.133333,85.533333,82.933333,81.666667
2009.0,78.333333,81.533333,80.333333,82.266667,83.400000,78.600000,81.466667,81.733333,83.866667,83.066667,78.666667,80.466667
2010.0,81.466667,80.200000,78.000000,82.533333,81.333333,80.400000,82.200000,85.000000,85.133333,82.600000,80.733333,81.133333
2011.0,80.066667,82.466667,80.933333,80.466667,80.000000,80.333333,80.200000,81.266667,83.866667,83.466667,81.933333,78.333333
2012.0,84.266667,83.000000,80.600000,79.800000,79.533333,78.133333,80.266667,79.733333,83.733333,80.733333,83.333333,80.933333
2013.0,82.200000,82.066667,79.400000,81.333333,79.933333,79.333333,83.733333,82.400000,84.933333,81.266667,82.000000,77.466667
2014.0,77.066667,80.133333,82.266667,82.666667,78.466667,79.800000,81.666667,81.733333,82.000000,81.600000,83.133333,80.066667
2015.0,79.400000,80.866667,81.666667,78.600000,76.933333,78.266667,78.800000,81.466667,83.533333,81.333333,83.466667,82.600000
2016.0,84.133333,76.533333,80.600000,80.666667,79.666667,78.466667,80.533333,81.733333,83.133333,82.933333,82.400000,81.066667
2017.0,82.266667,78.666667,81.600000,80.800000,81.000000,80.000000,83.466667,83.400000,83.666667,83.466667,83.200000,80.000000
2018.0,82.600000,77.133333,80.200000,80.533333,80.266667,79.866667,81.666667,82.000000,81.933333,80.466667,81.600000,83.200000
2019.0,82.266667,79.266667,81.000000,79.066667,79.800000,77.666667,79.000000,80.933333,80.333333,82.000000,81.266667,77.400000
2020.0,80.266667,78.666667,80.466667,80.600000,78.533333,77.533333,79.066667,82.333333,82.666667,83.866667,80.933333,79.600000
2021.0,77.066667,79.133333,80.666667,82.333333,79.666667,77.066667,79.200000,78.933333,84.400000,84.600000,82.533333,79.200000
2022.0,82.666667,81.933333,82.800000,80.000000,81.800000,78.933333,80.866667,82.333333,83.266667,80.000000,82.333333,77.266667

In [15]:
# Chuyển bảng thành dạng bạn mong muốn
stacked_df = avg_temp_by_month_year.stack().reset_index()

# Đặt lại tên cột
stacked_df.columns = ['Year', 'Month', 'Humidity']

# Xuất bảng đã chuyển đổi
print(stacked_df)

       Year Month   Humidity
0    2002.0     1  81.133333
1    2002.0     2  81.733333
2    2002.0     3  80.866667
3    2002.0     4  79.600000
4    2002.0     5  80.400000
..      ...   ...        ...
247  2022.0     8  82.333333
248  2022.0     9  83.266667
249  2022.0    10  80.000000
250  2022.0    11  82.333333
251  2022.0    12  77.266667

[252 rows x 3 columns]

# Export average humidity data of Vietnam from 2002-2022

In [16]:
stacked_df.to_csv('vietnam-humidity-handled-data.csv', index=False)